#hello{
  font-size: 30px;
  font-weight: bold;
}
#box{
  width: 100px;
  background-color: green;
  text-decoration: line-through;
  text-align: center;
  border-bottom-style: dotted;
  border-bottom-color: orange;
  border-bottom-width: 5px;
}
#fontchange{
  font-family: cursive;
  color: green;
}
