h1 {
  font-family: sans-serif;
  color: green;

}
p{
  color: grey;
}
p{
  width: 100px;
  border-top-color: blue;
  border-top-width: 5px;
  border-top-style: dashed;
  border-bottom-color: blue;
  border-bottom-width: 5px;
  border-bottom-style: dashed;
  border-right-color: blue;
  border-right-width: 5px;
  border-right-style: dashed;
  border-left-color: blue;
  border-left-width: 5px;
  border-left-style: dashed;
}
ul{
  width: 100px;
}
li{
  padding: 0;
  border-width: 1px;
  border-color: black;
}
table{
  border-width: 1px;
}
